.banner {
    height: 100vh;
    width: 100vw;
}

.cardbanner {
    /* width: 18rem; */
    position:absolute;
    margin-left: 200px;
    margin-top: 200px;
    background-color: #ffffff00;
    color: azure;
    
}

.card-title {
    font-size: 5rem;
}

.shop-now {
    background-color: #ffffff00;
}

.advantages {
    height: 35vh;
    justify-content: center;
    align-items: center;
}

.advantages-item {
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    font-weight: 700;
}

/* Our Blogs attributes */
.blog-title {
    font-size: 30px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    text-align: center;
}
.blog-title-hr{
    width: 5%;
    background-color: #fd7e14;
    padding: 2px;
    margin: 3px auto 10px auto;
}
.image-slider {
    /* display: grid; */
    width: 80vw;
    margin: auto;
    /* grid-template-columns: repeat(3,1fr);
    grid-gap: 10px; */
    padding-bottom: 50px;
}
.image-item {
    display: flex;
    flex-direction: column;
    padding: 20px
}
.image {
  height: 50vh;
  margin-bottom: 15px;
}
.image img {
  width: 100%;
  height: 100%;
  object-fit:cover;
  border-radius: 12px;
}
.image-title {
  font-size: 16px;
  font-weight: 300;
  text-align: center;
  color: #83868c;
}
.image-hr {
  background-color: #fd7e14;
  padding: 1px;
  width: 30%;
  margin: 5px auto;
}
.image-description {
    font-size: 20px;
    color: #111111;
    font-weight: 600;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align:center;
    transition: all .3s ease;
}
.image-description__short {
    text-align: center;
}
.image-detail {
    font-size: 12px;
    font-weight: 400;
    color: #83868c;
    text-align: justify;
}
.slick-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: black;
    border: none;
    z-index: 10000;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    line-height: 1;
    transition: all 0.2s linear;
    border-radius: 50%;
}
.slick-arrow:hover {
    background-color: #fd7e14;
    color: #fff;
}
.slick-prev {
    left: 0;
}
.slick-next {
    right: 0;
}


